<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Hello, {{name}}</p>
    <p>We're sending you this email because you requested</p>
    <p>a password reset. Click on this link to create a new</p>
    <p>password:</p>
    <p>
        <a href="{{link}}">Set a new password</a>
    </p>
    <p>if you didn't request a password reset, you can</p>
    <p>ignore this email. Your password will not be changed.</p>

    <p>
        Thanks<br />
        <strong>GoBarber Team</strong>
    </p>
</div>